.storage
custom_components/hacs
secrets.yaml
**/node-red
*.xml
*.json
*.txt
*.ttf
hacs.*
*.sqlite
*.log
*.log*
*.backup
.uuid
zones.yaml
.homekit.state
.HA_VERSION
www/
.google.token
google_calendars.yaml
known_devices.yaml
custom_components/frigate
/tts
/blueprints
blackened.yaml